{% extends "base.html" %}

{% block title %}Iniciar sesión | GCB SENA CM{% endblock %}

{% block auth_content %}

{% load django_browser_reload %}
{% django_browser_reload_script %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg mt-5">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <img src="/static/img/LogoSENA.png" alt="Logo" height="90">
                        <h2 class="mt-3">Gestión y control de bitácoras - GCB SENA CM</h2>
                    </div>
                    
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Usuario</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Contraseña</label>
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="text-danger">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn text-white" style="background-color: #034231">Ingresar</button>
                        </div>
                    </form>
                    
                    <div class="mt-3 text-center">
                        <a href="{% url 'accounts:password_reset' %}">¿Olvidaste tu contraseña?</a>
                    </div>
                    
                    <hr>
                    
                    <div class="text-center">
                        <p>¿No tienes una cuenta?</p>
                        <a href="{% url 'accounts:register' %}" class="btn" style="outline: 2px solid #034231;">Regístrate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
