{% extends "base.html" %}

{% block title %}Confirmación | GCB SENA CM{% endblock %}

{% block auth_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg mt-5">
                <div class="card-body p-5 text-center">
                    <i class="fas fa-check-circle fa-4x mb-3 text-success"></i>
                    <h2>Restablecimiento de contraseña completo</h2>
                    <p class="mb-4">
                        Tu contraseña ha sido cambiada. Ahora puedes iniciar sesión con tu nueva contraseña.
                    </p>
                    <div class="d-grid">
                        <a href="{% url 'accounts:login' %}" class="btn text-white" style="background-color: #034231">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
