{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hola, has recibido este correo porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Tu nombre de usuario en caso de que lo hayas olvidado:" %} {{ user.get_username }}

{% translate "Si no solicitaste este restablecimiento de contraseña, puedes ignorar este correo." %}

{% endautoescape %}