{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block contenido %}
<div class="container">

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
            📋Información Personal
        </div>
        {% for c in object_list %}
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Nombre:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.nombre }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Tipo de Documento:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.get_tipo_documento_display }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Nº de Documento:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.num_documento }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Correo Electrónico:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.correo }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Nº de Ficha:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.num_ficha }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Programa de Formación:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.programa_formacion }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Fecha de Inicio del Programa:</strong>
                </div>
                <div class="col-md-8">
                    {{ c.fecha_inicio_programa }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
