{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<form method="post" id="formBitacora" action="{% url 'app:bitacora_crear' %}" enctype="multipart/form-data">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
            </h3>
        </div>
        <div class="card-body">
            <div class="card-header" style="display: flex; justify-content: center; align-items: center; background-color: #094b39; color: white; text-align: center;">
                <h1>Registro de bitácoras</h1>
            </div>
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Información general</b></h2>
                <div class="container-mov">
                    {% for a in aprendiz %}
                    <div class="form-group row mt-3">
                        <div class="col-md-4">
                            <label>Nombre:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.nombre }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Tipo de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.tipo_documento }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>N° de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.num_documento }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Correo:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.correo }}</p>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-md-7">
                            <label>Programa de formación:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.programa_formacion }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Número de ficha:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.num_ficha }}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha de inicio del programa:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.fecha_inicio_programa }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div style="padding-top: 10px;"></div>
                    {% for i in instructor %}
                    <div class="form-group row mt-3">
                        <div class="col-md-4">
                            <label>Nombre:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.nombre }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Tipo de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.tipo_documento }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>N° de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.num_documento }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Correo:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.correo }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div style="padding-top: 10px;"></div>
                </div>
            </div>
            {% csrf_token %}
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Bitácoras</b></h2>
                <div class="table-responsive" style="margin-top: 20px;">
                    <table id="file-table" class="display" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Nombre del archivo</th>
                                <th>Fecha de carga</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="formset-container" class="formset-container"></div>
                <button type="button" class="btn btn-primary" id="add-form" onclick="document.getElementById('file-upload').click();">Cargar bitácora</button>
                <input type="file" d="file-upload" style="display: none;" accept=".xlsx,.xls,.pdf" onchange="handleFileUpload(event)" />
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-flat" type="submit"><i class="fas fa-plus"></i> Guardar</button>
        <a href="" class="btn btn-danger btn-flat" onclick="confirmCancel(event)"><i class="fas fa-times"></i> Cancelar</a>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#file-table').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });

    function handleFileUpload(event) {
        const file = event.target.files[0];
        if (file) {
            const allowedExtensions = ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                                       'application/vnd.ms-excel',
                                       'application/pdf'];

            if (!allowedExtensions.includes(file.type)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Archivo no permitido',
                    text: 'Solo se permiten archivos en formato PDF, XLSX o XLS.',
                    confirmButtonText: 'Aceptar',
                    confirmButtonColor: '#034231'
                });
                event.target.value = '';
                return;
            }

            const table = $('#file-table').DataTable();

            const currentDate = new Date();
            const formattedDate = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()} ${currentDate.getHours().toString().padStart(2, '0')}:${currentDate.getMinutes().toString().padStart(2, '0')}`;

            table.row.add([
                file.name,
                formattedDate,
                `<button class="btn btn-danger btn-sm" onclick="deleteRow(this)">Eliminar</button>`
            ]).draw(false);

            event.target.value = '';
        } else {
            Swal.fire({
                icon: 'warning',
                title: 'Ningún archivo seleccionado',
                text: 'Por favor, selecciona un archivo antes de continuar.',
            });
        }
    }

    function deleteRow(button) {
        Swal.fire({
            title: '¿Desea eliminar el archivo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#094b39',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                const table = $('#file-table').DataTable();
                table.row($(button).parents('tr')).remove().draw(false);
            }
        });
    }
</script>
<script src="{% static 'lib/sweetalert2/sweetHeader.js' %}"></script>
<script>
    function confirmCancel(event) {
        event.preventDefault();
        Swal.fire({
            title: '¿Desea cancelar el registro?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#094b39',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cancelar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'app:bitacora_lista' %}";
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#formBitacora').on('submit', function (event) {
            event.preventDefault();

            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        }).then(() => {
                            window.location.href = "{% url 'app:bitacora_lista' %}";
                        });
                    } else {
                        let errorMessages = '';
                        let errors = JSON.parse(response.errors);
                        for (let field in errors) {
                            for (let error of errors[field]) {
                                errorMessages += `${error.message}<br>`;
                            }
                        }

                        Swal.fire({
                            title: 'Error',
                            html: errorMessages,
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock %}