{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post" id="formBitacora" action="{% url 'app:bitacora_crear' %}">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
            </h3>
        </div>
        <div class="card-body">
            <div class="card-header" style="display: flex; justify-content: center; align-items: center; background-color: #094b39; color: white; text-align: center;">
                <h1>Registro de bitácoras</h1>
            </div>
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Información general</b></h2>
                <div class="container-mov">
                    {% for a in aprendiz %}
                    <div class="form-group row mt-3">
                        <div class="col-md-4">
                            <label>Aprendiz:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.nombre }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Tipo de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.tipo_documento }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>N° de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.num_documento }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Correo:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.correo }}</p>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-md-7">
                            <label>Programa de formación:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.programa_formacion }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Número de ficha:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.num_ficha }}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha de inicio del programa:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ a.fecha_inicio_programa }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div style="padding-top: 10px;"></div>
                    {% for i in instructor %}
                    <div class="form-group row mt-3">
                        <div class="col-md-4">
                            <label>Instructor:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.nombre }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>Tipo de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.tipo_documento }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>N° de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.num_documento }}</p>
                        </div>
                        <div class="col-md-4">
                            <label>Correo:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ i.correo }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div style="padding-top: 10px;"></div>
                    {% for e in empresa %}
                    <div class="form-group row mt-3">
                        <div class="col-md-5">
                            <label>Empresa:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.nombre }}</p>
                        </div>
                        <div class="col-md-2">
                            <label>NIT:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.nit }}</p>
                        </div>
                        <div class="col-md-5">
                            <label>Modalidad:<br></label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.modalidad }}</p>
                        </div>
                        <div class="col-md-5">
                            <label>Jefe inmediato:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.jefe }}</p>
                        </div>
                        <div class="col-md-2">
                        <label>N° de documento:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.num_telefono }}</p>
                        </div>
                        <div class="col-md-5">
                            <label>Correo:</label>
                            <p style="background: #ffffff; border: 0.5px solid #000000; border-radius: 10px;">{{ e.correo }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% csrf_token %}
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Actividades realizadas</b>
                </h2>
                <div id="formset-container" class="formset-container">
                    {% if formset.non_form_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in formset.non_form_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {{ formset.management_form }}

                    {% for form in formset %}
                    <div class="form-row d-flex align-items-center">
                        {% if form.non_field_errors %}
                        <div class="col-12">
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            <label for="{{ form.bitacora.id_for_label }}">Actividad:</label>
                            {{ form.bitacora|add_class:'form-control' }}
                            {% for error in form.bitacora.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-primary" id="add-form">Agregar actividad</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-flat" type="submit"><i class="fas fa-plus"></i> Guardar</button>
        <a href="#" class="btn btn-danger btn-flat" onclick="confirmCancel(event)"><i class="fas fa-times"></i>
            Cancelar</a>
    </div>
</form>
<script src="{% static 'lib/sweetalert2/sweetHeader.js' %}"></script>
<script>
    function confirmCancel(event) {
        event.preventDefault();
        Swal.fire({
            title: '¿Desea cancelar el registro?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#094b39',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cancelar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'app:bitacora_lista' %}";
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.select2-elemento').select2({
            placeholder: 'Seleccione un elemento',
            allowClear: true,
            width: '100%'
        });

        $('.select2-programa').select2({
            placeholder: 'Seleccione un programa',
            allowClear: true,
            width: '100%'
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formsetContainer = document.getElementById('formset-container');
        const addFormButton = document.getElementById('add-form');
        const totalFormsInput = document.getElementById('id_detalles-TOTAL_FORMS');

        addFormButton.addEventListener('click', function () {
            const totalForms = parseInt(totalFormsInput.value);
            const newFormIndex = totalForms;
            const emptyFormTemplate = formsetContainer.querySelector('.form-row').cloneNode(true);

            emptyFormTemplate.querySelectorAll('input, select, textarea').forEach(input => {
                input.name = input.name.replace(/-\d+-/, `-${newFormIndex}-`);
                input.id = input.id.replace(/-\d+-/, `-${newFormIndex}-`);
                input.value = '';
            });

            const removeButton = emptyFormTemplate.querySelector('.remove-form');
            if (!removeButton) {
                const newRemoveButton = document.createElement('button');
                newRemoveButton.type = 'button';
                newRemoveButton.className = 'btn btn-danger remove-form';
                newRemoveButton.textContent = 'Quitar formulario';
                emptyFormTemplate.appendChild(newRemoveButton);
            }

            formsetContainer.appendChild(emptyFormTemplate);
            totalFormsInput.value = totalForms + 1;
        });

        formsetContainer.addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-form')) {
                const formRow = event.target.closest('.form-row');
                formRow.remove();

                const forms = formsetContainer.querySelectorAll('.form-row');
                totalFormsInput.value = forms.length;

                forms.forEach((form, index) => {
                    form.querySelectorAll('input, select, textarea').forEach(input => {
                        input.name = input.name.replace(/-\d+-/, `-${index}-`);
                        input.id = input.id.replace(/-\d+-/, `-${index}-`);
                    });
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#formBitacora').on('submit', function (event) {
            event.preventDefault();

            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        }).then(() => {
                            window.location.href = "{% url 'app:bitacora_lista' %}";
                        });
                    } else {
                        let errorMessages = '';
                        let errors = JSON.parse(response.errors);
                        for (let field in errors) {
                            for (let error of errors[field]) {
                                errorMessages += `${error.message}<br>`;
                            }
                        }

                        Swal.fire({
                            title: 'Error',
                            html: errorMessages,
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock %}